body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: linear-gradient(to right, #74ebd5, #9face6);
}

.app {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.weather-container {
  background: white;
  padding: 25px;
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  text-align: center;
  box-shadow: 0 8px 20px rgba(0,0,0,0.2);
}

.search-box {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.search-box input {
  flex: 1;
  padding: 8px;
}

.search-box button {
  padding: 8px 12px;
  cursor: pointer;
  background-color: rgba(0, 0, 255, 0.767);
  font-size: 16px;
  color: white;
  border: none;
  border-radius: 4px;
}
.search-box button:hover {
  background-color: rgba(0, 0, 255, 0.9);
}

.weather-card {
  margin-top: 15px;
  background: #f1f1f1;
  padding: 15px;
  border-radius: 8px;
}

.error {
  color: red;
}



@media (max-width: 500px) {
  .weather-container {
    width: 90%;
  }
}
